.navbar{
	position:fixed;
	width: 200px;
	z-index: 1;
	top: 0;
	left: 0;
	padding-top: 30px;
}

.navbar li{
	margin: 5px 0 5px 0;
}

.navbar a{
	text-decoration:none;
	color:deepskyblue;
}

.navbar a:visited{
	text-decoration:none;
	color:deepskyblue;
}

.navbar a:hover{
	text-decoration:none;
	color:black;
}

.navbar a:active{
	text-decoration:none;
	color:skyblue;
}

body{
	margin-left: 200px;
}

.customerData .container{
	display:flex;
}

