body {
	font-family: Roboto, "Times New Roman", Times, serif;
	color: black;
	background-color: #37A8FB;
	margin: 0;
	padding: 0;
	height: ;
}

h1 {
	font-family: Roboto, Geneva, Arial, SunSans-Regular, sans-serif
}

.box {
	border-radius: 15px;
	box-shadow: 0 0 10px 0 #000;
	width: 35%;
	height: auto;
	padding: 0% 2% 2% 2%;
	margin: 100px auto;
	background-color: white;
}

.box .heading {
	padding-top: 2%;
	text-align: center;
}


.button {
	background-color: #006BA6;
	padding: 2%;
	border: none;
	color: white;
	margin: 2%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 15px;
	cursor: pointer;
}

.box #b1 {
	width: 92%;
}

.box #b2 {
	width: 92%;
}