body {
	font-family: Roboto, "Times New Roman", Times, serif;
	color: black;
	background-color: #37A8FB;
	margin:0;
	padding:0;
}

h1 {
	font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif
}
.information {
	border-radius: 2%;
	box-shadow: 0 0 10px 0 #000;
	width:45%;
	margin:0 auto;

	background-color: white;
	text-align: center;
}
.information .heading{
	padding-top: 2%;
	text-align:center;
}
.information ul.items{
	width:38%;
	list-style-type:none;
	text-align:left;
	padding: 1% 6%;
	display:inline-block;
}
.button {
	background-color: #006BA6;
	padding: 2%;
	border: none;
	color: white;
	width: 60%;
	margin: 2%;
	text-decoration: none;
	display:inline-block;
	font-size: 16px;
	border-radius: 15px;
	cursor: pointer;
}

.information ul.items2{
	padding:1% 6%;
	list-style-type:none;
	text-align: left;
	display:inline-block;

}
.information ul.items li{
	padding: 15px 0px;
}

.information ul.items2 li{
	padding: 15px 0px;
}