h1 {
	text-align:center;
	color: #D7AF70;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

body {
	background-color: #37a8fb;
	font-family: Roboto, "Times New Roman", Times, sans-serif;
}

.form {
	width: 400px;
	padding: 10px;
	margin: auto;	
	background-color: white;
  	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  	border-radius: 10px;
  	height: 350px;
  		
}
.form1 {
	height: 650px;
}

form {
	display:flex;
	flex-direction: column;
	align-items: center;
	margin-top: 0;
	padding: 10px;
}

input { 
	margin: 5px;
	width: 50%;
}

button {
	background-color: #37a8fb;
	border: 2px solid #37a8fb;
	color: black;
	padding: 14px 30px;
	text-align: center;
	text-decoration: wavy;
	display: inline-block;
	width: 55%;
	margin: 10px;
	border-radius: 10px;
	cursor: pointer;
}
input {
  width: 85%;
  padding: 14px 20px;
  margin: 8px 16px;
  display: inline-block;
  border: 1px solid #D7AF70;
  border-radius: 4px;
  box-sizing: border-box;
}


button:hover {
	opacity: 0.6;
}
#incorrect {
	color: red;
	text-align: center;
	font-weight: bold;
	padding: 0;
	margin-bottom: 0;
}
