h1 {
	text-align: center;
}

body {
	background-color: #37A8FB;
}

form {
	text-align:center;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
}

input {
	margin: 5px;
	width: 50%;
}

button {
	width: 50%;
	margin: 5px;
}
.form {
	text-align:center;
	
	width: 400px;
	padding: 5px ;
	margin: auto;	
	background-color: white;
  	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}